<header class="hero-unit">
  <h1>StackLegacy <small>Reference of Cutting Edge Technology Stacks</small></h1>
  <p>A better way of learning and solving business problem with the right technology tools accross many different systems.</p>
</header>
<ul class="thumbnails" id="content">
  <li class="span3" ng-repeat="system in systems.objects">
    <a rel='popover' title='{{ system.description }}' class="thumbnail" href="#/system/{{ system.slug }}" ><img class="media-object" ng-src="{{ system.logo }}">
      <div class="caption">
        <h3>{{ system.name }}</h3>
      </div>
    </a>
  </li>
  <li ng-hide="systems.objects.length">No Results Found</li>
</ul>
