#Migration
south>=0.7.6

# Debugging
ipython>=0.13.1
ipdb
django-extensions>=1.0.1
django-debug-toolbar>=0.9.4

# API
-e git://github.com/sbnoemi/django-tastypie.git#egg=django_tastypie

# Imaging Library
PIL>=1.1.7
django-imagekit>=2.0.2

# Elastic Search
-e git://github.com/rhec/pyelasticsearch.git@682a26ce801f417a7a823f7c4ebe34a6afb10f54#egg=pyelasticsearch
requests>=1.0.4
-e git://github.com/toastdriven/django-haystack.git#egg=haystack

# Registration
django-registration>=0.8
