{% extends "skeleton.html" %}

{% block body %}
        <div ng-app="slApp" ng-controller="SystemListCtrl">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">StackLegacy</a>
                        <div class="nav-collapse collapse">
                            {% block navbar %}
                            {% endblock %}
                        </div><!--/.nav-collapse -->

                    </div>
                </div>
            </div>

            <div class="container">

                <div ng-view class="clearfix">
                  {% block content %}{% endblock %}
                </div>

                <hr>

                <footer>
                    <p>&copy; StackLegacy 2013</p>
                </footer>

            </div> <!-- /container -->
        </div>
{% endblock %}
