{% extends "stack/base.html" %}

{% block content %}
{% verbatim %}
<div class='row'>
  <section class='span4'>
    <form action='' method='POST' class='form-horizontal'>

        <legend>System Detail</legend>
        <div class='control-group'>
          <label for='name' class='control-label'>Name</label>
          <div class='controls'>
            <input id="name" type="text" value="" maxlength="150" />
          </div>
        </div>

        <div class='control-group'>
          <label for='description' class='control-label'>Description</label>
          <div class='controls'>
            <textarea id='description' rows="10" cols="40"></textarea>
          </div>
        </div>

        <div class='control-group'>
          <label for='logo' class='control-label'>Logo</label>
          <div class='controls'>
            <input type="file" id="logo" />
            <label for="logo-clear" class="checkbox"><input type="checkbox" id="logo-clear" />Clear</label>
          </div>
        </div>

        <div class='control-group'>
          <label for="slug" class='control-label'>Slug</label>
          <div class='controls'>
            <input id="slug" type="text" value="" maxlength="50" />
          </div>
        </div>

        <div class='control-group'>
          <label for="oficial_site" class='control-label'>Official site</label>
          <div class='controls'>
            <input id="official_site" type="text" value="" maxlength="200" />
          </div>

        </div>

        <div class='control-group'>
          <label for="categories" class='control-label'>Categories</label>
          <div class='controls'>
            <input id="categories" type="text" value=""/>
          </div>
        </div>

        <div class='control-group'>
          <div class='controls'>
            <button type='submit' class='btn btn-primary' >Submit</button>
          </div>
        </div>
    </form>
  </section>
  <section class='span4'>
    <legend>Architectures</legend>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Caption</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Awesome</td>
          <td>
            <a href='#' class='btn btn-info'>View</a>
            <a href='#' class='btn btn-warning'>Edit</a>
            <a href='#' class='btn btn-danger'>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href='#' class='btn btn-info'>Add Architecture</a>
  </section>
  <section class='span4'>
    <legend>Stacks</legend>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Caption</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Awesome</td>
          <td>
            <a href='#' class='btn btn-info'>View</a>
            <a href='#' class='btn btn-warning'>Edit</a>
            <a href='#' class='btn btn-danger'>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href='#' class='btn btn-info'>Add Architecture</a>
  </section>
</div>
{% endverbatim %}
{% endblock %}
